{{ range . }}

upstream {{.ServiceName}} {
{{range .ServerPorts}}
    server {{ .ServerAddress }}:{{ .ServicePort }};
{{end}}
}

server {
    server_name  {{.ServiceName}}.example.com;
    location / {
        proxy_pass        http://{{.ServiceName}};
        proxy_redirect    off;
        proxy_set_header  Host             $host;
        proxy_set_header  X-Real-IP        $remote_addr;
        proxy_set_header  X-Forwarded-For  $proxy_add_x_forwarded_for;
   }
}
{{end}}
